<mat-toolbar color="primary" class="mat-elevation-z9">
  <mat-toolbar-row>
    <a routerLink=""><img src="././assets/images/logoFlatXs.png" class="logoMenu" /></a>
    <span class="spacer"></span>
    <button mat-button color="warn" routerLink="">Home</button>
    <button mat-button color="warn" routerLink="/obras">Obras</button>
    <button mat-button color="warn" routerLink="/pessoal">Pessoal</button>
    <button mat-button color="warn" routerLink="/contato">Contato</button>
  </mat-toolbar-row>
</mat-toolbar>

